@import "font.css";
/* COLORS */
/* FONTS */
.section > .description > span h1 {
  font-size: 22px !important;
  margin: 0 0 10px 0;
}
.section > .description > span h2 {
  font-size: 18px !important;
  margin: 0 0 10px 0;
}
.section > .description > span h3 {
  margin: 0 0 10px 0;
  border-radius: 3px;
  padding: 4px 9px;
  font: 500 11px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  display: inline-block;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #486684;
}
.section > .description > span p {
  margin-bottom: 10px !important;
}
.section > .description > span code {
  font: 500 13px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  color: #333;
  position: relative;
  padding: 0 0 0 15px;
  margin: 0 15px 0 0;
  display: inline-block;
}
.section > .description > span code:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #2DB870;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 6px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'AvenirNext';
}
h1 {
  font: 700 76px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
}
h2 {
  font: 700 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
}
h3 {
  font: 400 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
  color: #9b9b9b;
}
a {
  color: #2DB870;
  text-decoration: underline;
  font-weight: 500;
}
a:visited,
a:focus,
a:active {
  color: #0F6338;
}
.clear {
  height: 1px;
  display: inline-block;
  width: 100%;
  clear: both;
}
.v-middle:before {
  content: '';
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle;
}
.v-middle > * {
  display: inline-block;
  vertical-align: middle;
}
.container {
  background: url(../images/bgs/bg1.png) center top fixed no-repeat;
  padding: 0 0 200px 0;
}
.container > .content {
  margin: auto;
  width: 960px;
}
.container > .content.blurred {
  filter: blur(7px);
}
.header {
  height: 240px;
  font-size: 0;
  vertical-align: middle;
}
.header .avatar,
.header .name {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.header .avatar .img-border {
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: 3px solid #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 120px;
}
.header .avatar .img-border img {
  width: 100%;
}
.header .name {
  text-align: right;
}
.header .name h1 {
  line-height: 71px;
}
.header .name h1 span {
  display: block;
}
.mini-infos {
  padding: 18px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mini-infos .info {
  width: 24%;
  text-align: center;
  display: inline-block;
  font: 500 16px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
}
.vertical-line {
  margin: 20px 0 0 0;
  display: inline-block;
  width: 100%;
  position: relative;
}
.vertical-line:after {
  display: inline-block;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 48%;
  margin-left: -20px;
  top: -20px;
  bottom: 0;
  content: '';
  z-index: -1;
}
.vertical-line .section {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}
.vertical-line .section:hover .add-section {
  display: inline-block !important;
}
.vertical-line .section:last-child {
  margin-bottom: 0;
}
.vertical-line .section > h2 {
  position: absolute;
  left: 0;
  top: 20px;
}
.vertical-line .section .description {
  width: 52%;
  float: right;
  clear: both;
  position: relative;
  margin: 0 0 20px 0;
  min-height: 35px;
}
.vertical-line .section .description > * {
  margin: 0 0 10px 0;
}
.vertical-line .section .description > h3 {
  position: absolute;
  width: 230px;
  text-align: right;
  left: -270px;
  top: 0;
}
.vertical-line .section .description > h3:after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -20px;
  top: 14px;
}
.vertical-line .section .description .title {
  color: #2DB870;
  font: 500 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  text-decoration: underline;
}
.vertical-line .section .description .alt-title {
  font: 700 18px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
}
.vertical-line .section .description p {
  font: 400 18px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  color: #000;
  padding: 0;
  margin: 0;
}
.vertical-line .section.adding input.h2 {
  font: 700 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  background: transparent;
  outline: none;
}
.vertical-line .section.adding .description input.h3 {
  position: absolute;
  width: 230px;
  text-align: right;
  left: -270px;
  top: 0;
  border: 0;
  font: 400 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
  margin: 0;
  color: #9b9b9b;
  background: transparent;
  outline: none;
}
.vertical-line .section.adding .description textarea {
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  font: 400 22px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  width: 100%;
  min-height: 150px;
}
.add-section {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 48%;
  z-index: 5;
  margin-left: -34px;
  display: none;
  cursor: pointer;
}
.add-section .add-section-button {
  width: 27px;
  height: 27px;
  font: 700 20px 'AvenirNext', 'Helvetica Neue', 'Arial', 'sans-serif';
  color: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  background-color: #2CB870;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.add-section-modal {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.add-section-modal .close {
  position: fixed;
  top: 20px;
  right: 20px;
}
.add-section-modal input[type=text] {
  position: relative;
  z-index: 2;
  padding: 16px 28px 16px 50px;
  min-width: 300px;
  border-radius: 6px;
  border: 1px solid #2DB870;
  font-size: 18px;
  color: #333;
}
.add-section-modal span {
  position: relative;
  z-index: 3;
  font-size: 16px;
  margin-right: -35px;
  color: #d0d0d0;
  text-align: center;
}
.add-section-modal span small {
  display: block;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 1px;
}
