<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mocha</title>

	<link rel="stylesheet" href="css/style.css">


	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
	<script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
	<script type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
	

</head>
<body>

<div class="container" id="app">

	<div class="content" :class="{ blurred : modalShow }">

		<div class="header">
			<div class="avatar v-middle">
				<div class="img-border">
					<img src="images/avatar.png" alt="">
				</div>
			</div>
			<div class="name v-middle">
				<h1>
					<span>BORA</span>
					<span>DAN</span>
				</h1>
			</div>
		</div>

		<div class="mini-infos">
			<div class="info">03.03.1987</div>
			<div class="info">Anadoluhisarı / İstanbul</div>
			<div class="info">555 746 51 05</div>
			<div class="info"><a href="mailto:bora_dan@hotmail.com">bora_dan@hotmail.com</a></div>
		</div>

		<div class="vertical-line">

			<div class="section" v-for="(section, i) in sections">
				<h2>{{ section.name }}</h2>

				<template v-for="(subtitle, index) in section.subtitles">
					<div class="description">
						<h3>{{ subtitle.name }}</h3>
						<span v-html="regexDesc[i][index]"></span>
						<add-description-button :order="index" :porder="i"></add-description-button>
					</div>

					<add-description-panel :classname="{ 'show' : (activeDesc == index + '' + i ) }" :indexa="i" :indexb="index">
					</add-description-panel>

				</template>
				<add-section-button :order="i"></add-section-button>
			</div>

		</div>
	
	</div>

	<add-section-modal :order-count="sectionOrder" v-show="modalShow"></add-section-modal>

</div>

	
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>